docutils
markupsafe
myst-parser
pygments
sphinx_rtd_theme
sphinx
sphinxcontrib.programoutput
sphinxcontrib-napoleon
sphinx-autoapi
typeguard
# generate plots
matplotlib
scipy
numpy
# generate cheatsheet.pdf
rst2pdf
