docutils
markupsafe
myst-parser
pygments
sphinx_rtd_theme
breathe
sphinx
sphinxcontrib.programoutput
sphinxcontrib-napoleon
sphinxcontrib-doxylink
sphinx-autoapi
typeguard
# generate plots
matplotlib
scipy
numpy
